$font-size-general: 12px;
$font-size-small-1: 11px;
$font-size-small-2: 10px;

// @media only screen and (max-width: 1680px) {
//     $font-size-general: 11px;
//   }
// @media only screen and (max-width: 1440px) {
//     $font-size-general: 10px;
// }